<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || "Soo Yang, Tan | Software Engineer" %></title>
    <link rel="stylesheet" href="assets/stylesheets/style.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
