<style>
  h1, h2 {
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Kalam', cursive;
  }

  .center-box {
    text-align: center;
    padding: 1.3em;
      height: 30%;
      width: 80%;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;

      margin: auto;*/
  }

  a {
    text-decoration: none;
  }

  .icon {
    color: white;
    padding-right: 0.5em;
  }

  .contact {
    padding-top: 10px;
    text-align: center;
  }
</style>

<div class="container">
  <div class="center-box">
    <h1>Soo Yang, Tan</h1>
    <h2>Software Engineer</h2>
    <div class="contact">
      <a href="mailto:sooyang.code@gmail.com?Subject=Enquiries" target="_top">
        <i class="fa fa-envelope fa-2x icon" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/sooyang" target="_blank" >
        <i class="fa fa-github fa-2x icon icon"></i>
      </a>
      <a href="https://www.linkedin.com/in/sooyangtan/" target="_blank">
        <i class="fa fa-linkedin-square fa-2x icon"></i>
      </a>
      <a href="https://angel.co/tan-soo-yang" target="_blank">
        <i class="fa fa-angellist fa-2x icon"></i>
      </a>
    </div>
  </div>
</div>

<noscript id="deferred-styles">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css"/>
</noscript>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>