<div class="container">
  <div class="center-box">
    <h1>Soo Yang, Tan</h1>
    <h2>Software Engineer</h2>
    <div class="contact">
      <a href="mailto:sooyang.code@gmail.com?Subject=Enquiries" target="_top">
        <i class="fa fa-envelope fa-2x icon" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/sooyang" target="_blank" >
        <i class="fa fa-github fa-2x icon icon"></i>
      </a>
      <a href="https://www.linkedin.com/in/sooyangtan/" target="_blank">
        <i class="fa fa-linkedin-square fa-2x icon"></i>
      </a>
      <a href="https://angel.co/tan-soo-yang" target="_blank">
        <i class="fa fa-angellist fa-2x icon"></i>
      </a>
    </div>
  </div>
</div>
